<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Контакти' }) %>

<body>
    <%- include('partials/header', { page: 'контакти', language: 'en', dark: 'так' }) %>
    <h2>Контакти</h2>
</body>
